/* Login.css */

/* Style for the form container */
.login-form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f97e;
  margin: auto; /* Menempatkan form di tengah */
  margin-top: 100px; /* Jarak atas dari bagian atas halaman */
}

/* Style for form labels */
.login-form label {
  font-weight: bold;
}

/* Style for form inputs */
.login-form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style for form submit button */
.login-form button {
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #5d738a;
  color: #fff;
  cursor: pointer;
}

/* Style for form submit button on hover */
.login-form button:hover {
  background-color: #0056b3;
}

.gagal {
  color: #000;
}

.welcome{
  color: rgb(216, 202, 202);
  margin-top: 50px;
}

.login{
  color: black;
  margin-left: 160px;
  margin-bottom: 30px;
  font-size: xx-large;
}

.regis{
  color: black;
  margin-left: 150px;
  margin-bottom: 30px;
  font-size: xx-large;
}