.data-container {
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(122, 122, 122, 0.526); 
  border-radius: 10px; 
  width: 80%; 
  max-width: 600px; 

  @media (max-width: 768px) {
    width: 90%; 
    padding: 10px; 
  }
}

.text-center {
  color: rgba(240, 240, 240, 0.7);
  font-size: 3em;
}

@media (max-width: 768px) {
  .text-center {
    font-size: 2em; 
  }
}

.appa{
  color: rgba(240, 248, 255, 0);
}

.note2 {
  flex: 0 0 auto; 
  margin-right: 70px;
  font-size: 1em;
}
.note1 {
  flex: 0 0 auto; 
  margin-right: 155px;
  font-size: 1em;
}
.note {
  color: red;
  flex: 0 0 auto; 
  margin-right: 500px;
  font-size: 1.5em;
}